<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Patient List</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="/css/cover.css">




<!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
</style>


</head>
<body class="bg-dark text-white">
<div class=" text-center text-white bg-dark">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
		<header class="mb-auto">
			<div>
				<h3 class="float-md-start mb-0">Home Page</h3>
				<nav class="nav nav-masthead justify-content-center float-md-end">
					<a class="nav-link active" aria-current="page" th:href="@{patient}">Patient
						Service</a> <a class="nav-link" th:href="@{appointment}">Appointment
						Service</a> <a class="nav-link" th:href="@{clinic}">Clinic Service</a>
				</nav>
			</div>
		</header>
	</div>
	</div>

	<div >

		<table class="table table-dark table-striped" style="max-width: 70%; margin-left: 15%;">

			<tr>
				<th>Id</th>
				<th>FirstName</th>
				<th>LastName</th>
				<th>Email</th>
			</tr>
			<tr th:each="patient:${patientList}">
				<td><span th:text="${patient.patientId}"></span></td>
				<td><span th:text="${patient.firstName}"></span></td>
				<td><span th:text="${patient.lastName}"></span></td>
				<td><span th:text="${patient.email}"></span></td>
		</table>

	</div>
<a href="/index">go to home</a>
</body>
</html>